<!-- ===== Footer ===== -->
<footer class="pt-4 pb-1">
  <div class="container-xl">
    <div class="row text-lg-start text-center">
      <div class="col-12 text-center">
        <img
          src="./assets/images/ITSP_logo.svg"
          alt="ITSP_logo"
          width="150px"
          class="img-fluid mb-3"
        />
        <h2 class="fs-1 fw-bold mb-5">
          {{ "footer.title" | translate }}
        </h2>
      </div>
      <div class="col-12 mb-3">
        <div class="row">
          <div class="col-xl-2 text-start col-12 mb-2">
            <h3 class="fw-bold">{{ "footer.Main Links" | translate }}</h3>
            <hr />
            <ul class="d-xl-block d-flex flex-wrap list-unstyled fs-5 navs">
              <li class="mb-2 col-xl-12 col-lg-3 col-6">
                <a
                  routerLink="/{{ currentLang }}/home"
                  class="ps-3 text-reset text-decoration-none gold-line"
                  >{{ "footer.Home" | translate }}</a
                >
              </li>
              <li class="mb-2 col-xl-12 col-lg-3 col-6">
                <a
                  routerLink="/{{ currentLang }}/aboutUs"
                  class="ps-3 text-reset text-decoration-none purple-line"
                  >{{ "footer.About ITSP" | translate }}</a
                >
              </li>
              <li class="mb-2 col-xl-12 col-lg-3 col-6">
                <a
                  routerLink="/{{ currentLang }}/contact"
                  class="ps-3 text-reset text-decoration-none purple-line"
                  >{{ "footer.Contact Us" | translate }}</a
                >
              </li>
              <li class="mb-2 col-xl-12 col-lg-3 col-6">
                <a
                  routerLink="/{{ currentLang }}/careers"
                  class="ps-3 text-reset text-decoration-none gold-line"
                  >{{ "footer.Careers" | translate }}</a
                >
              </li>
            </ul>
          </div>
          <div class="col-lg-8">
            <h3 class="fw-bold">
              {{ "footer.Quick Links" | translate }}
            </h3>
            <hr />
            <div class="row">
              <div class="col-md-4 mb-2">
                <ul class="list-unstyled navs fs-6">
                  <li class="mb-2 fs-4 fw-semibold">
                    <a
                      routerLink="/{{ currentLang }}/software-house"
                      class="text-reset text-decoration-none"
                      >{{ "footer.Software House" | translate }}</a
                    >
                  </li>
                  <li class="mb-2">
                    <a
                      routerLink="/{{ currentLang }}/contact"
                      class="text-reset text-decoration-none"
                      >{{ "footer.SW1" | translate }}</a
                    >
                  </li>
                  <li class="mb-2">
                    <a
                      routerLink="/{{ currentLang }}/contact"
                      class="text-reset text-decoration-none"
                      >{{ "footer.SW2" | translate }}</a
                    >
                  </li>
                  <li class="mb-2">
                    <a
                      routerLink="/{{ currentLang }}/contact"
                      class="text-reset text-decoration-none"
                      >{{ "footer.SW3" | translate }}</a
                    >
                  </li>
                  <li class="mb-2">
                    <a
                      routerLink="/{{ currentLang }}/contact"
                      class="text-reset text-decoration-none"
                      >{{ "footer.SW4" | translate }}</a
                    >
                  </li>
                  <li class="mb-2">
                    <a
                      routerLink="/{{ currentLang }}/contact"
                      class="text-reset text-decoration-none"
                      >{{ "footer.SW5" | translate }}</a
                    >
                  </li>
                </ul>
              </div>
              <div class="col-md-4 mb-2">
                <ul class="list-unstyled navs fs-6">
                  <li class="mb-2 fs-4 fw-semibold">
                    <a
                      routerLink="/{{ currentLang }}/marketing-business-house"
                      class="text-reset text-decoration-none"
                      >{{ "footer.Marketing & Business House" | translate }}</a
                    >
                  </li>
                  <li class="mb-2">
                    <a
                      routerLink="/{{ currentLang }}/contact"
                      class="text-reset text-decoration-none"
                      >{{ "footer.MBH1" | translate }}</a
                    >
                  </li>
                  <li class="mb-2">
                    <a
                      routerLink="/{{ currentLang }}/contact"
                      class="text-reset text-decoration-none"
                      >{{ "footer.MBH2" | translate }}</a
                    >
                  </li>
                  <li class="mb-2">
                    <a
                      routerLink="/{{ currentLang }}/contact"
                      class="text-reset text-decoration-none"
                      >{{ "footer.MBH3" | translate }}</a
                    >
                  </li>
                  <li class="mb-2">
                    <a
                      routerLink="/{{ currentLang }}/contact"
                      class="text-reset text-decoration-none"
                      >{{ "footer.MBH4" | translate }}</a
                    >
                  </li>
                  <li class="mb-2">
                    <a
                      routerLink="/{{ currentLang }}/contact"
                      class="text-reset text-decoration-none"
                      >{{ "footer.MBH5" | translate }}</a
                    >
                  </li>
                  <li class="mb-2">
                    <a
                      routerLink="/{{ currentLang }}/contact"
                      class="text-reset text-decoration-none"
                      >{{ "footer.MBH6" | translate }}</a
                    >
                  </li>
                  <li class="mb-2">
                    <a
                      routerLink="/{{ currentLang }}/contact"
                      class="text-reset text-decoration-none"
                      >{{ "footer.MBH7" | translate }}</a
                    >
                  </li>
                </ul>
              </div>
              <div class="col-md-4 mb-2">
                <ul class="list-unstyled navs fs-6">
                  <li class="mb-2 fs-4 fw-semibold">
                    <a
                      routerLink="/{{ currentLang }}/digital-marketing"
                      class="text-reset text-decoration-none"
                      >{{ "footer.Digital Marketing House" | translate }}</a
                    >
                  </li>
                  <li class="mb-2">
                    <a
                      routerLink="/{{ currentLang }}/contact"
                      class="text-reset text-decoration-none"
                      >{{ "footer.DMH1" | translate }}</a
                    >
                  </li>
                  <li class="mb-2">
                    <a
                      routerLink="/{{ currentLang }}/contact"
                      class="text-reset text-decoration-none"
                      >{{ "footer.DMH2" | translate }}</a
                    >
                  </li>
                  <li class="mb-2">
                    <a
                      routerLink="/{{ currentLang }}/contact"
                      class="text-reset text-decoration-none"
                      >{{ "footer.DMH3" | translate }}</a
                    >
                  </li>
                  <li class="mb-2">
                    <a
                      routerLink="/{{ currentLang }}/contact"
                      class="text-reset text-decoration-none"
                      >{{ "footer.DMH4" | translate }}</a
                    >
                  </li>
                  <li class="mb-2">
                    <a
                      routerLink="/{{ currentLang }}/contact"
                      class="text-reset text-decoration-none"
                      >{{ "footer.DMH5" | translate }}</a
                    >
                  </li>
                  <li class="mb-2">
                    <a
                      routerLink="/{{ currentLang }}/contact"
                      class="text-reset text-decoration-none"
                      >{{ "footer.DMH6" | translate }}</a
                    >
                  </li>
                  <li class="mb-2">
                    <a
                      routerLink="/{{ currentLang }}/contact"
                      class="text-reset text-decoration-none"
                      >{{ "footer.DMH7" | translate }}</a
                    >
                  </li>
                  <li class="mb-2">
                    <a
                      routerLink="/{{ currentLang }}/contact"
                      class="text-reset text-decoration-none"
                      >{{ "footer.DMH8" | translate }}</a
                    >
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-xl-2 col-lg-4 col-12 mb-2">
            <h3 class="fw-bold">{{ "footer.Contact Us" | translate }}</h3>
            <hr />
            <ul class="list-unstyled navs fs-6">
              <li class="mb-2">{{ "footer.phone" | translate }}</li>
              <li class="mb-2">{{ "footer.address" | translate }}</li>
              <li class="mb-2">
                <a class="text-reset" href="mailto:support@itsp-group.com">
                  support@itsp-group.com</a
                >
              </li>
              <li class="text-center social-links">
                <a
                  aria-label="Visit ITSP page on Facebook"
                  target="_blank"
                  href="https://www.facebook.com/profile.php?id=61562746304037"
                  class="text-reset text-decoration-none me-3"
                >
                  <i class="fa-brands fa-facebook"></i>
                </a>
                <a
                  aria-label="Visit ITSP account on Linked"
                  target="_blank"
                  href="https://www.linkedin.com/company/itsp-group/?viewAsMember=true"
                  class="text-reset text-decoration-none me-3"
                >
                  <i class="fa-brands fa-linkedin"></i>
                </a>
                <a
                  aria-label="Visit ITSP account on Linked"
                  target="_blank"
                  href="https://wa.me/+201206002500"
                  class="text-reset text-decoration-none me-3"
                >
                  <i class="fa-brands fa-whatsapp"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-12 mb-4">
        <div class="d-flex">
          <div class="col-1"></div>
          <div class="col-10">
            <div class="circle"></div>
          </div>
          <div class="col-1"></div>
        </div>
      </div>
      <div class="col-12 text-center">
        <p class="copyright mb-3">{{ "footer.copyright" | translate }}</p>
      </div>
    </div>
  </div>
</footer>
<!-- ===== End Of Footer ===== -->
