<app-navbar></app-navbar>
<section id="DigitalMarketingHouseHero">
  <div class="container-fluid py-5">
    <div class="container py-5">
      <div class="py-5">
        <div class="py-lg-5 py-0">
          <div class="py-md-5 py-0">
            <div class="py-md-5 py-0">
              <h1
                class="pb-2 display-5 fw-semibold animate__animated animate__bounceIn"
              >
                {{
                  "digital-house.DigitalMarketingHouseHero.title" | translate
                }}
              </h1>
              <p class="pb-4 fw-bold animate__animated animate__fadeInUp">
                {{
                  "digital-house.DigitalMarketingHouseHero.description"
                    | translate
                }}
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="DigitalMarketingHouse" class="py-5">
  <div class="container-fluid py-5 px-lg-5">
    <div class="py-md-5">
      <div class="py-md-5 text-sm-start text-center">
        <div class="row justify-content-between">
          <div
            class="col-xl-4 col-lg-5 mb-md-5 mb-3"
            data-aos="fade-right"
            data-aos-duration="900"
          >
            <div class="row">
              <div class="col-xxl-2 col-xl-3 col-lg-4 col-md-2 col-sm-3">
                <img
                  *ngIf="currentLang == 'en'"
                  src="../../../../assets/images/Performance-Management.webp"
                  alt="Performance-Management"
                  class="img-fluid"
                />
                <img
                  *ngIf="currentLang == 'ar'"
                  src="../../../../assets/images/Performance-Management-rtl.webp"
                  alt="Performance-Management"
                  class="img-fluid"
                />
              </div>
              <div class="col-xxl-10 col-xl-9 col-lg-8 col-md-10 col-sm-9">
                <h2 class="fs-4 pb-1 fw-semibold">
                  {{
                    "digital-house.DigitalMarketingHouse.card1.title"
                      | translate
                  }}
                </h2>
                <p>
                  {{
                    "digital-house.DigitalMarketingHouse.card1.description"
                      | translate
                  }}
                </p>
              </div>
            </div>
          </div>
          <div
            class="col-xl-4 col-lg-5 mb-md-5 mb-3"
            data-aos="fade-right"
            data-aos-duration="1050"
          >
            <div class="row">
              <div class="col-xxl-2 col-xl-3 col-lg-4 col-md-2 col-sm-3">
                <img
                  *ngIf="currentLang == 'en'"
                  src="../../../../assets/images/social-media.webp"
                  alt="social-media"
                  class="img-fluid"
                />
                <img
                  *ngIf="currentLang == 'ar'"
                  src="../../../../assets/images/social-media-rtl.webp"
                  alt="social-media"
                  class="img-fluid"
                />
              </div>
              <div class="col-xxl-10 col-xl-9 col-lg-8 col-md-10 col-sm-9">
                <h2 class="fs-4 pb-1 fw-semibold">
                  {{
                    "digital-house.DigitalMarketingHouse.card2.title"
                      | translate
                  }}
                </h2>
                <p>
                  {{
                    "digital-house.DigitalMarketingHouse.card2.description"
                      | translate
                  }}
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="row justify-content-between">
          <div
            class="col-xl-4 col-lg-5 mb-md-5 mb-3"
            data-aos="fade-right"
            data-aos-duration="1200"
          >
            <div class="row">
              <div class="col-xxl-2 col-xl-3 col-lg-4 col-md-2 col-sm-3">
                <img
                  *ngIf="currentLang == 'en'"
                  src="../../../../assets/images/Content-Creation.webp"
                  alt="Content-Creation"
                  class="img-fluid"
                />
                <img
                  *ngIf="currentLang == 'ar'"
                  src="../../../../assets/images/Content-Creation-rtl.webp"
                  alt="Content-Creation"
                  class="img-fluid"
                />
              </div>
              <div class="col-xxl-10 col-xl-9 col-lg-8 col-md-10 col-sm-9">
                <h2 class="fs-4 pb-1 fw-semibold">
                  {{
                    "digital-house.DigitalMarketingHouse.card3.title"
                      | translate
                  }}
                </h2>
                <p>
                  {{
                    "digital-house.DigitalMarketingHouse.card3.description"
                      | translate
                  }}
                </p>
              </div>
            </div>
          </div>
          <div
            class="col-xl-4 col-lg-5 mb-md-5 mb-3"
            data-aos="fade-right"
            data-aos-duration="1350"
          >
            <div class="row">
              <div class="col-xxl-2 col-xl-3 col-lg-4 col-md-2 col-sm-3">
                <img
                  *ngIf="currentLang == 'en'"
                  src="../../../../assets/images/Influencers-Marketing.webp"
                  alt="Influencers-Marketing"
                  class="img-fluid"
                />
                <img
                  *ngIf="currentLang == 'ar'"
                  src="../../../../assets/images/Influencers-Marketing-rtl.webp"
                  alt="Influencers-Marketing"
                  class="img-fluid"
                />
              </div>
              <div class="col-xxl-10 col-xl-9 col-lg-8 col-md-10 col-sm-9">
                <h2 class="fs-4 pb-1 fw-semibold">
                  {{
                    "digital-house.DigitalMarketingHouse.card4.title"
                      | translate
                  }}
                </h2>
                <p>
                  {{
                    "digital-house.DigitalMarketingHouse.card4.description"
                      | translate
                  }}
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="DigitalMarketingHouseCard2">
  <div class="container-fluid py-5">
    <div class="py-5">
      <div class="pt-xl-5 px-lg-5">
        <div class="pt-xl-5">
          <div class="pt-xl-5">
            <div class="pt-xl-5 mt-md-5">
              <div class="row d-xl-flex d-none py-xxl-5 py-3">
                <div
                  class="col-lg-3 col-md-8 col-12 mb-3 pt-xxl-4 pt-5"
                  data-aos="fade-up"
                  data-aos-duration="900"
                >
                  <h2 class="fs-4 pb-1">
                    {{
                      "digital-house.DigitalMarketingHouseCard2.card1.title"
                        | translate
                    }}
                  </h2>
                  <p>
                    {{
                      "digital-house.DigitalMarketingHouseCard2.card1.description"
                        | translate
                    }}
                  </p>
                </div>
                <div class="col-lg-3 col-md-8 col-12 mb-3"></div>
                <div
                  class="col-lg-3 col-md-8 col-12 mb-3 pt-xxl-4 pt-5"
                  data-aos="fade-up"
                  data-aos-duration="1200"
                >
                  <h2 class="fs-4 pb-1">
                    {{
                      "digital-house.DigitalMarketingHouseCard2.card2.title"
                        | translate
                    }}
                  </h2>
                  <p>
                    {{
                      "digital-house.DigitalMarketingHouseCard2.card2.description"
                        | translate
                    }}
                  </p>
                </div>
              </div>
              <div class="row d-xl-flex d-none">
                <div class="col-lg-3 col-md-8 col-12 mb-3"></div>
                <div
                  class="col-lg-3 col-md-8 col-12 mb-3 pt-3"
                  data-aos="fade-up"
                  data-aos-duration="1050"
                >
                  <h2 class="fs-4 pb-1">
                    {{
                      "digital-house.DigitalMarketingHouseCard2.card3.title"
                        | translate
                    }}
                  </h2>
                  <p>
                    {{
                      "digital-house.DigitalMarketingHouseCard2.card3.description"
                        | translate
                    }}
                  </p>
                </div>
                <div class="col-lg-3 col-md-8 col-12 mb-3"></div>
                <div
                  class="col-lg-3 col-md-8 col-12 mb-3 pt-3"
                  data-aos="fade-up"
                  data-aos-duration="1350"
                >
                  <h2 class="fs-4 pb-1">
                    {{
                      "digital-house.DigitalMarketingHouseCard2.card4.title"
                        | translate
                    }}
                  </h2>
                  <p>
                    {{
                      "digital-house.DigitalMarketingHouseCard2.card4.description"
                        | translate
                    }}
                  </p>
                </div>
              </div>
              <div class="row d-xl-none d-flex">
                <div
                  class="col-lg-8 col-md-10 col-12 mb-3"
                  data-aos="fade-left"
                  data-aos-duration="900"
                >
                  <h2 class="pb-1 fs-4">
                    {{
                      "digital-house.DigitalMarketingHouseCard2.card1.title"
                        | translate
                    }}
                  </h2>
                  <p>
                    {{
                      "digital-house.DigitalMarketingHouseCard2.card1.description"
                        | translate
                    }}
                  </p>
                </div>
                <div
                  class="col-lg-8 col-md-10 col-12 mb-3"
                  data-aos="fade-left"
                  data-aos-duration="1050"
                >
                  <h2 class="fs-4 pb-1">
                    {{
                      "digital-house.DigitalMarketingHouseCard2.card3.title"
                        | translate
                    }}
                  </h2>
                  <p>
                    {{
                      "digital-house.DigitalMarketingHouseCard2.card3.description"
                        | translate
                    }}
                  </p>
                </div>
                <div
                  class="col-lg-8 col-md-10 col-lg-8 col-md-10"
                  data-aos="fade-left"
                  data-aos-duration="1200"
                >
                  <h2 class="fs-4 pb-1">
                    {{
                      "digital-house.DigitalMarketingHouseCard2.card2.title"
                        | translate
                    }}
                  </h2>
                  <p>
                    {{
                      "digital-house.DigitalMarketingHouseCard2.card2.description"
                        | translate
                    }}
                  </p>
                </div>
                <div
                  class="col-lg-8 col-md-10 col-lg-8 col-md-10"
                  data-aos="fade-left"
                  data-aos-duration="1350"
                >
                  <h2 class="fs-4 pb-1">
                    {{
                      "digital-house.DigitalMarketingHouseCard2.card4.title"
                        | translate
                    }}
                  </h2>
                  <p>
                    {{
                      "digital-house.DigitalMarketingHouseCard2.card4.description"
                        | translate
                    }}
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<app-footer></app-footer>
