/*--------------------------------------------------------------
# navbar
--------------------------------------------------------------*/
.top-bar {
  /* background-color: var(--black); */
  color: var(--font-main);
}
header {
  z-index: 99999999999999999999999999999999999999999999999999978;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
}
nav {
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.3);
  /* background-color: rgba(0, 0, 0, 0.6); */
}
nav .navbar-toggler {
  border: none;
}
nav .navbar-toggler:focus {
  box-shadow: 0 0 0 2px var(--new-gold);
}
nav .navbar-toggler i {
  color: var(--new-gold);
}
nav .navbar-nav .nav-link,
nav .navbar-nav .nav-link.show {
  color: rgba(255, 255, 255, 0.8);
  box-shadow: none;
  font-size: 20px;
  font-weight: 600;
}
nav .navbar-nav .nav-link:hover {
  color: var(--new-gold);
}
nav .navbar-nav .nav-link.active {
  color: var(--new-gold);
}
nav .navbar-nav .nav-item .dropdown-menu.show {
  background-color: var(--black);
}
nav .navbar-nav .nav-item .dropdown-menu .dropdown-item {
  color: var(--font-main);
}
nav .navbar-nav .nav-item .dropdown-menu .dropdown-item:hover {
  background-color: rgba(255, 255, 255, 0.281);
}
nav .nav-item button.btn {
  background-color: var(--font-main);
}
nav .nav-item a.access span {
  background: var(--linear);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
