<app-navbar></app-navbar>
<section id="AboutUs-hero" class="pb-5 pt-md-5 pt-0">
  <div class="container pb-5 pt-md-5 pt-0">
    <div class="row py-md-5 py-0">
      <div class="col-lg-6 col-md-9 py-5">
        <h1
          class="mb-4 fw-semibold display-3 pt-5 animate__animated animate__backInDown"
        >
          {{ "about-us.AboutUs-hero.title" | translate }}
        </h1>
        <p class="fs-5 pb-5">
          {{ "about-us.AboutUs-hero.description" | translate }}
        </p>
      </div>
    </div>
  </div>
</section>
<section id="aboutCard-1" class="py-5">
  <div class="py-md-5">
    <div class="py-md-5">
      <div class="container py-5">
        <div class="row align-items-center py-5">
          <div
            class="col-md-6 text-md-start text-center mb-md-0 mb-3"
            data-aos="fade-right"
            data-aos-duration="1200"
          >
            <h2 class="mb-4 fw-normal display-5">
              {{ "about-us.aboutCard-1.title" | translate }}
            </h2>
            <p class="fs-5 lh-1">
              {{ "about-us.aboutCard-1.description-1" | translate }}<br />{{
                "about-us.aboutCard-1.description-2" | translate
              }}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="aboutCard-2" class="py-5">
  <div class="container py-5">
    <h2 class="text-center fs-1 mb-4" data-aos="fade-left">
      {{ "about-us.aboutCard-2.title" | translate }}
    </h2>
    <div class="row justify-content-around">
      <div class="col-xl-4 col-lg-5 mb-4">
        <div class="card" data-aos="fade-up" data-aos-duration="1200">
          <div class="card-body p-md-5">
            <h3 class="fs-2 mb-4 card-title text-center">
              {{ "about-us.aboutCard-2.philosophy-card.title" | translate }}
            </h3>
            <p class="card-text fs-5">
              {{
                "about-us.aboutCard-2.philosophy-card.description" | translate
              }}
            </p>
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-lg-5 mb-4">
        <div class="card" data-aos="fade-up" data-aos-duration="1200">
          <div class="card-body p-md-5">
            <h3 class="fs-2 mb-4 card-title text-center">
              {{ "about-us.aboutCard-2.methodology-card.title" | translate }}
            </h3>
            <p class="card-text fs-5">
              {{
                "about-us.aboutCard-2.methodology-card.description" | translate
              }}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section
  id="aboutCard-3"
  class="py-5"
  data-aos="fade-up"
  data-aos-duration="1200"
>
  <div class="container-fluid py-md-5">
    <div class="row">
      <div class="col-xl-7 col-lg-9 col-md-10 mb-5 pb-5 text-center">
        <h2 class="fs-1">{{ "about-us.aboutCard-3.title" | translate }}</h2>
        <p class="fs-5 col-xl-7 col-lg-9 col-12 mx-auto">
          {{ "about-us.aboutCard-3.description" | translate }}
        </p>
      </div>
      <div class="col-12">
        <div class="row px-0 justify-content-lg-center justify-content-between">
          <div
            class="col-xxl-3 col-lg-4 col-md-5 col-sm-6 mb-3"
            data-aos="fade-left"
            data-aos-duration="900"
          >
            <div class="card">
              <div class="card-body">
                <h3 class="card-title fs-5">
                  {{ "about-us.aboutCard-3.card1.title" | translate }}
                </h3>
                <p class="card-text">
                  {{ "about-us.aboutCard-3.card1.description" | translate }}
                </p>
              </div>
            </div>
          </div>
          <div
            class="col-xxl-3 col-lg-4 col-md-5 col-sm-6 mb-3"
            data-aos="fade-left"
            data-aos-duration="1100"
          >
            <div class="card">
              <div class="card-body">
                <h3 class="card-title fs-5">
                  {{ "about-us.aboutCard-3.card2.title" | translate }}
                </h3>
                <p class="card-text">
                  {{ "about-us.aboutCard-3.card2.description" | translate }}
                </p>
              </div>
            </div>
          </div>
          <div
            class="col-xxl-3 col-lg-4 col-md-5 col-sm-6 mb-3"
            data-aos="fade-left"
            data-aos-duration="1300"
          >
            <div class="card">
              <div class="card-body">
                <h3 class="card-title fs-5">
                  {{ "about-us.aboutCard-3.card3.title" | translate }}
                </h3>
                <p class="card-text">
                  {{ "about-us.aboutCard-3.card3.description" | translate }}
                </p>
              </div>
            </div>
          </div>
          <div
            class="col-xxl-3 col-lg-4 col-md-5 col-sm-6 mb-3"
            data-aos="fade-left"
            data-aos-duration="1500"
          >
            <div class="card">
              <div class="card-body">
                <h3 class="card-title fs-5">
                  {{ "about-us.aboutCard-3.card4.title" | translate }}
                </h3>
                <p class="card-text">
                  {{ "about-us.aboutCard-3.card4.description" | translate }}
                </p>
              </div>
            </div>
          </div>
          <div
            class="col-xxl-3 col-lg-4 col-md-5 col-sm-6 mb-3"
            data-aos="fade-left"
            data-aos-duration="1700"
          >
            <div class="card">
              <div class="card-body">
                <h3 class="card-title fs-5">
                  {{ "about-us.aboutCard-3.card5.title" | translate }}
                </h3>
                <p class="card-text">
                  {{ "about-us.aboutCard-3.card5.description" | translate }}
                </p>
              </div>
            </div>
          </div>
          <div
            class="col-xxl-3 col-lg-4 col-md-5 col-sm-6 mb-3"
            data-aos="fade-left"
            data-aos-duration="1900"
          >
            <div class="card">
              <div class="card-body">
                <h3 class="card-title fs-5">
                  {{ "about-us.aboutCard-3.card6.title" | translate }}
                </h3>
                <p class="card-text">
                  {{ "about-us.aboutCard-3.card6.description" | translate }}
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="aboutCard-4" class="py-5">
  <div class="container-fluid">
    <h2 class="text-center fs-1 mb-4">
      {{ "about-us.aboutCard-4.title-1" | translate }}
    </h2>
    <p class="text-center mb-4 mx-auto col-lg-6 col-md-8 col-sm-10">
      {{ "about-us.aboutCard-4.description" | translate }}
    </p>
    <h2 class="text-center mb-4">
      {{ "about-us.aboutCard-4.title-2" | translate }}
    </h2>
    <div class="row justify-content-center">
      <div
        class="col-lg-3 col-md-6 col-sm-9 mb-3"
        data-aos="fade-left"
        data-aos-duration="900"
      >
        <div class="card">
          <div class="card-body p-lg-5 p-md-4 p-3">
            <h3 class="fs-3">
              {{ "about-us.aboutCard-4.card1.title" | translate }}
            </h3>
            <p>
              {{ "about-us.aboutCard-4.card1.description" | translate }}
            </p>
          </div>
        </div>
      </div>
      <div
        class="col-lg-3 col-md-6 col-sm-9 mb-3"
        data-aos="fade-left"
        data-aos-duration="1100"
      >
        <div class="card">
          <div class="card-body p-lg-5 p-md-4 p-3">
            <h3 class="fs-3">
              {{ "about-us.aboutCard-4.card2.title" | translate }}
            </h3>
            <p>
              {{ "about-us.aboutCard-4.card2.description" | translate }}
            </p>
          </div>
        </div>
      </div>
      <div
        class="col-lg-3 col-md-6 col-sm-9 mb-3"
        data-aos="fade-left"
        data-aos-duration="1300"
      >
        <div class="card">
          <div class="card-body p-lg-5 p-md-4 p-3">
            <h3 class="fs-3">
              {{ "about-us.aboutCard-4.card3.title" | translate }}
            </h3>
            <p>
              {{ "about-us.aboutCard-4.card3.description" | translate }}
            </p>
          </div>
        </div>
      </div>
      <div
        class="col-lg-3 col-md-6 col-sm-9 mb-3"
        data-aos="fade-left"
        data-aos-duration="1500"
      >
        <div class="card">
          <div class="card-body p-lg-5 p-md-4 p-3">
            <h3 class="fs-3">
              {{ "about-us.aboutCard-4.card4.title" | translate }}
            </h3>
            <p>
              {{ "about-us.aboutCard-4.card4.description" | translate }}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="aboutCard-5" class="py-5">
  <div class="container-fluid">
    <h3 class="display-6 mb-4 text-center fw-light">
      {{ "about-us.aboutCard-5.title-1" | translate }}
    </h3>
    <div class="row mb-5">
      <div class="col-lg-3 col-md-5 col-sm-6 mb-3">
        <div class="card" data-aos="fade-up" data-aos-duration="800">
          <div class="card-body p-lg-4 p-md-3">
            <h3 class="fs-2">
              {{ "about-us.aboutCard-5.marketing-card1.title" | translate }}
            </h3>
            <p class="fs-5">
              {{
                "about-us.aboutCard-5.marketing-card1.description" | translate
              }}
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-5 col-sm-6 mb-3">
        <div class="card" data-aos="fade-up" data-aos-duration="800">
          <div class="card-body p-lg-4 p-md-3">
            <h3 class="fs-2">
              {{ "about-us.aboutCard-5.marketing-card2.title" | translate }}
            </h3>
            <p class="fs-5">
              {{
                "about-us.aboutCard-5.marketing-card2.description" | translate
              }}
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-5 col-sm-6 mb-3">
        <div class="card" data-aos="fade-up" data-aos-duration="800">
          <div class="card-body p-lg-4 p-md-3">
            <h3 class="fs-2">
              {{ "about-us.aboutCard-5.marketing-card3.title" | translate }}
            </h3>
            <p class="fs-5">
              {{
                "about-us.aboutCard-5.marketing-card3.description" | translate
              }}
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-5 col-sm-6 mb-3">
        <div class="card" data-aos="fade-up" data-aos-duration="800">
          <div class="card-body p-lg-4 p-md-3">
            <h3 class="fs-2">
              {{ "about-us.aboutCard-5.marketing-card4.title" | translate }}
            </h3>
            <p class="fs-5">
              {{
                "about-us.aboutCard-5.marketing-card4.description" | translate
              }}
            </p>
          </div>
        </div>
      </div>
    </div>
    <h3 class="display-6 mb-4 text-center fw-light">
      {{ "about-us.aboutCard-5.title-2" | translate }}
    </h3>
    <div class="row">
      <div class="col-lg-3 col-md-5 col-sm-6 mb-3">
        <div class="card" data-aos="fade-up" data-aos-duration="800">
          <div class="card-body p-lg-4 p-md-3">
            <h3 class="fs-2">
              {{ "about-us.aboutCard-5.standards-card1.title" | translate }}
            </h3>
            <p class="fs-5">
              {{
                "about-us.aboutCard-5.standards-card1.description" | translate
              }}
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-5 col-sm-6 mb-3">
        <div class="card" data-aos="fade-up" data-aos-duration="800">
          <div class="card-body p-lg-4 p-md-3">
            <h3 class="fs-2">
              {{ "about-us.aboutCard-5.standards-card2.title" | translate }}
            </h3>
            <p class="fs-5">
              {{
                "about-us.aboutCard-5.standards-card2.description" | translate
              }}
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-5 col-sm-6 mb-3">
        <div class="card" data-aos="fade-up" data-aos-duration="800">
          <div class="card-body p-lg-4 p-md-3">
            <h3 class="fs-2">
              {{ "about-us.aboutCard-5.standards-card3.title" | translate }}
            </h3>
            <p class="fs-5">
              {{
                "about-us.aboutCard-5.standards-card3.description" | translate
              }}
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-5 col-sm-6 mb-3">
        <div class="card" data-aos="fade-up" data-aos-duration="800">
          <div class="card-body p-lg-4 p-md-3">
            <h3 class="fs-2">
              {{ "about-us.aboutCard-5.standards-card4.title" | translate }}
            </h3>
            <p class="fs-5">
              {{
                "about-us.aboutCard-5.standards-card4.description" | translate
              }}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="aboutCard-7" class="py-5">
  <h2 class="text-center fs-1 mb-4">
    {{ "about-us.aboutCard-7.title" | translate }}
  </h2>
  <div class="container p-4 rounded-4">
    <div class="row">
      <div class="col-lg-3 col-md-5 px-0 mb-3">
        <div class="row mx-0">
          <div class="col-6 text-center">
            <img
              src="../../.././../assets/images/web_developers.svg"
              width="120"
              alt="web_developers.svg"
              class="img-fluid"
            />
            <h3 class="fs-5">
              {{ "about-us.aboutCard-7.Web Developers" | translate }}
            </h3>
          </div>
          <div class="col-6 text-center">
            <img
              src="../../.././../assets/images/software_engineers.svg"
              width="120"
              alt="software_engineers.svg"
              class="img-fluid"
            />
            <h3 class="fs-5">
              {{ "about-us.aboutCard-7.Software Engineers" | translate }}
            </h3>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-5 px-0 mb-3">
        <div class="row mx-0">
          <div class="col-6 text-center">
            <img
              src="../../.././../assets/images/mobile_app.svg"
              width="120"
              alt="mobile_app.svg"
              class="img-fluid"
            />
            <h3 class="fs-5">
              {{ "about-us.aboutCard-7.Mobile App" | translate }}
            </h3>
          </div>
          <div class="col-6 text-center">
            <img
              src="../../.././../assets/images/expert_marketers.svg"
              width="120"
              alt="expert_marketers.svg"
              class="img-fluid"
            />
            <h3 class="fs-5">
              {{ "about-us.aboutCard-7.Expert Marketers" | translate }}
            </h3>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-5 px-0 mb-3">
        <div class="row mx-0">
          <div class="col-6 text-center">
            <img
              src="../../.././../assets/images/content_creator.svg"
              width="120"
              alt="content_creator.svg"
              class="img-fluid"
            />
            <h3 class="fs-5">
              {{ "about-us.aboutCard-7.Content Creators" | translate }}
            </h3>
          </div>
          <div class="col-6 text-center">
            <img
              src="../../.././../assets/images/video_editor.svg"
              width="120"
              alt="video_editor.svg"
              class="img-fluid"
            />
            <h3 class="fs-5">
              {{ "about-us.aboutCard-7.Video Editors" | translate }}
            </h3>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-5 px-0 mb-3">
        <div class="row mx-0 justify-content-md-start justify-content-center">
          <div class="col-6 text-center">
            <img
              src="../../.././../assets/images/animators.svg"
              width="120"
              alt="animators.svg"
              class="img-fluid"
            />
            <h3 class="fs-5">
              {{ "about-us.aboutCard-7.Animators" | translate }}
            </h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<app-footer></app-footer>
