<app-navbar></app-navbar>
<section class="py-5" id="softwareHouseHero">
  <div class="py-5">
    <div class="container-fluid px-lg-5 py-5">
      <div class="py-5">
        <h1 class="pb-2 animate__animated animate__bounceIn">
          {{ "software-house.softwareHouseHero.title" | translate }}
        </h1>
        <p
          class="col-xl-4 col-lg-5 col-md-7 col-sm-9 pb-5 fs-5 fw-bold animate__animated animate__fadeInUp"
        >
          {{ "software-house.softwareHouseHero.description" | translate }}
        </p>
      </div>
    </div>
  </div>
</section>
<section id="softwareHouse" class="pt-5 pb-md-5 pb-2">
  <div class="container-fluid px-lg-5">
    <div class="row align-items-center">
      <div class="col-xl-7 col-lg-9 col-12 order-lg-1 order-2">
        <div class="row justify-content-between">
          <div
            class="col-12 col-lg-5 mb-4"
            data-aos="fade-right"
            data-aos-duration="900"
          >
            <h2 class="pb-1">
              <img
                width="50"
                src="./assets/images/swh-1.png"
                alt="software house Website logo"
                class="me-2"
              />
              <span>{{
                "software-house.softwareHouse.card1.title" | translate
              }}</span>
            </h2>
            <p>
              {{
                "software-house.softwareHouse.card1.description1" | translate
              }}
              <br />
              {{
                "software-house.softwareHouse.card1.description2" | translate
              }}
            </p>
          </div>
          <div
            class="col-12 col-lg-6 mb-4"
            data-aos="fade-right"
            data-aos-duration="1050"
          >
            <h2 class="pb-1">
              <img
                width="50"
                src="./assets/images/swh-3.png"
                alt="software house Mobile logo"
                class="me-2"
              />
              <span>{{
                "software-house.softwareHouse.card2.title" | translate
              }}</span>
            </h2>
            <p>
              {{
                "software-house.softwareHouse.card2.description1" | translate
              }}
              <br />
              {{
                "software-house.softwareHouse.card2.description2" | translate
              }}
            </p>
          </div>
          <div
            class="col-12 col-lg-5 mb-4"
            data-aos="fade-right"
            data-aos-duration="1200"
          >
            <h2 class="pb-1">
              <img
                width="50"
                src="./assets/images/swh-2.png"
                alt="software house Desktop logo"
                class="me-2"
              />
              <span>{{
                "software-house.softwareHouse.card3.title" | translate
              }}</span>
            </h2>
            <p>
              {{
                "software-house.softwareHouse.card3.description1" | translate
              }}
              <br />
              {{
                "software-house.softwareHouse.card3.description2" | translate
              }}
            </p>
          </div>
          <div
            class="col-12 col-lg-6 mb-4"
            data-aos="fade-right"
            data-aos-duration="1350"
          >
            <h2 class="pb-1">
              <img
                width="50"
                src="./assets/images/swh-4.png"
                alt="software house ERP logo"
                class="me-2"
              />
              <span>{{
                "software-house.softwareHouse.card4.title" | translate
              }}</span>
            </h2>
            <p>
              {{ "software-house.softwareHouse.card4.description" | translate }}
            </p>
          </div>
          <div
            class="col-12 mb-4"
            data-aos="fade-right"
            data-aos-duration="1500"
          >
            <h2 class="pb-1">
              <img
                width="50"
                src="./assets/images/swh-5.png"
                alt="software house CRM logo"
                class="me-2"
              />
              <span>{{
                "software-house.softwareHouse.card5.title" | translate
              }}</span>
            </h2>
            <p>
              {{
                "software-house.softwareHouse.card5.description1" | translate
              }}
              <br />
              {{
                "software-house.softwareHouse.card5.description2" | translate
              }}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<app-footer></app-footer>
